body {
    color: #000;
    font-family:Monospace;
    font-size:13px;
    text-align:center;
    background-color: #fff;
    margin: 0px;
    overflow: hidden;
 }
 #info {
    position: absolute;
    top: 0px; width: 100%;
    padding: 1%;
    color: orange;
 }
 a {
    color: #0af;
 }