<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee">

  <scan>
    <!-- These exclusions were added by Errai to avoid deploying client-side classes to the server -->
    <exclude name = "org.jboss.errai.demo.client.local.AppSetup$1" />
    <exclude name = "org.jboss.errai.demo.client.local.JQueryProducer$JQueryElement" />
    <exclude name = "org.jboss.errai.demo.client.local.gui.GUIVR" />
    <exclude name = "org.jboss.errai.demo.client.local.gui.OnChangeEvent" />
    <exclude name = "org.jboss.errai.demo.client.local.gui.Button" />
    <exclude name = "org.jboss.errai.demo.client.local.gui.Dropdown" />
    <exclude name = "org.jboss.errai.demo.client.local.gui.Group" />
    <exclude name = "org.jboss.errai.demo.client.local.gui.Slider" />
    <exclude name = "org.jboss.errai.demo.client.local.utils.JSON" />
    <exclude name = "org.jboss.errai.demo.client.local.AppSetup" />
    <exclude name = "org.jboss.errai.demo.client.local.Attachable" />
    <exclude name = "org.jboss.errai.demo.client.local.JQueryProducer$JQuery" />
    <exclude name = "org.jboss.errai.demo.client.local.InfoDiv" />
    <exclude name = "org.jboss.errai.demo.client.local.JQueryProducer$JQueryArray" />
    <exclude name = "org.jboss.errai.demo.client.local.resources.JavascriptTextResource" />
    <exclude name = "org.jboss.errai.demo.client.local.JQueryProducer" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.animation.WebglAnimationCloth" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.animation.Cloth" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.animation.WebGlAnimationKeyframesJson$1" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.animation.WebglAnimationCloth$1" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.animation.WebglAnimationScene" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.animation.WebGlAnimationKeyframesJson" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.animation.WebglAnimationScene$1" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.animation.Particle" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.animation.WebglAnimationScene$1$1" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.camera.WebGlCamera" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.camera.WebglCameraArray" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.gui.MenuDemo" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.gui.Utils" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.gui.Record" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.aframe.AframeBox" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.aframe.AframeSky" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.aframe.AframePlane" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.aframe.AframeCylinder" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.aframe.AframeTest" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.aframe.AframeSphere" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.aframe.AframeScene" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.aframe.Object3D" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.gpgpu.WebglGpgpuBirds" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.gpgpu.WebglGpgpuBirds$1" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.gpgpu.WebglGpgpuBirds$3" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.gpgpu.custom.BirdUniforms" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.gpgpu.custom.Value" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.gpgpu.custom.BirdGeometry" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.gpgpu.renderer.GPUComputationRenderer" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.gpgpu.shader.ShaderClientBundle" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.gpgpu.WebglGpgpuBirds$2" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.geometry.css.GeometryCssClientBundle$StyleWebglAnimationScene" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.geometry.css.GeometryCssClientBundle" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.geometry.WebglGeometriesParametric$1" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.geometry.ParametricGeometryExample$2" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.geometry.WebglGeometryCube" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.geometry.WebglGeometryDynamic" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.geometry.WebglGeometriesParametric" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.geometry.custom.SphereGeometry" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.geometry.custom.GrannyKnot" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.geometry.custom.TubeGeometry" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.geometry.custom.ParametricGeometriesTorusKnotGeometry" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.geometry.ParametricGeometryExample" />
    <exclude name = "org.jboss.errai.demo.client.local.examples.geometry.ParametricGeometryExample$1" />
    <exclude name = "org.jboss.errai.demo.client.local.ViewSrcButton" />
    <exclude name = "org.jboss.errai.demo.client.local.Click" />
    <!-- End of Errai exclusions -->
  </scan>
</beans>